@model Insolvency.Portal.Models.ViewModels.DebtorTransferViewModel;
@{
    var displayReason = ViewData["display-reason"] as bool?;
    var displayRequestedBy = ViewData["display-requested-by"] as bool?;
}

<ul class="govuk-list" id="debtor-transfer-details">
    <li id="debtor-transfer-details-client-name">Client name: @Model.FullName</li>
    <li id="debtor-transfer-details-reference">Reference: @Model.Reference</li>
    @if (Model.ActiveMoratoriumStartDate.HasValue)
    {
        <li id="debtor-transfer-details-started">Started: @Model.FormattedActiveMoratoriumStartDate</li>
    }
    @if (Model.ActiveMoratoriumEndDate.HasValue)
    {
        <li id="debtor-transfer-details-due-to-end">Due to end: @Model.FormattedActiveMoratoriumEndDate</li>
    }
    @if (Model.MoneyAdviceOrganisation.ShouldDisplayMoneyOrganization && Model.MoneyAdviceOrganisation.ShouldDisplayName)
    {
        <li id="debtor-transfer-details-money-advice-organisation">Money advice organisation: @Model.MoneyAdviceOrganisation.Name</li>
    }
</ul>

@if (displayReason.HasValue && displayReason.Value)
{
    <h2 class="govuk-label-wrapper" id="debtor-transfer-reason-label-wrapper">
        <label id="debtor-transfer-reason-label" class="govuk-label govuk-label--s">
            Reason for this transfer
        </label>
    </h2>
    <div id="debtor-transfer-reason" class="govuk-body govuk-!-margin-top-0 break-word">
        @Model.TransferReason
    </div>
}

@if (displayRequestedBy.HasValue && displayRequestedBy.Value)
{
    <h2 class="govuk-label-wrapper" id="debtor-transfer-requested-by-label-wrapper">
        <label id="debtor-transfer-requested-by-label" class="govuk-label govuk-label--s">
            Requested by
        </label>
    </h2>
    <div id="debtor-transfer-requested-by" class="govuk-body govuk-!-margin-top-0 break-word">
        @Model.RequestedBy
    </div>
}