@model Insolvency.Portal.Models.ViewModels.ClientDetailsCreateViewModel
@using System.Collections.Generic;
@{
    var IdOverwrite = new Dictionary<string, string> {
        {"BirthDay","dob-day-input"},
        {"BirthMonth","dob-month-input"},
        {"BirthYear","dob-year-input"},
        {"IsValidDateOfBirth","dob-day-input"}
    };
    ViewData["Title"] = @Localizer["Client Details"];
}

<div class="govuk-grid-column-two-thirds @(!ViewData.ModelState.IsValid ? "govuk-error-summary" : "display-none")" id="error-summary">
    <h2 class="govuk-error-summary__title">
        @Localizer["There is a problem"]
    </h2>
    <div id="error-list" bss-error-summary="All" id-overwrite="IdOverwrite" class="govuk-error-summary__body"></div>
</div>


<div class="govuk-grid-column-two-thirds" id="content">
    <form asp-action="ClientDetails" asp-route-journeyKey="@ViewData["JourneyKey"].ToString()" asp-route-parentJourneyKey="@ViewData["ParentJourneyKey"]?.ToString()" class="form">
        <input asp-for="ReturnAction" type="hidden" />
        <input asp-for="MoratoriumId" type="hidden" />
        <a id="back-link" href="javascript: history.go(-1)" class="govuk-back-link"> @Localizer["Back"]</a>
        <fieldset class="govuk-fieldset" name="client">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                    @Localizer["Add client name and date of birth"]
                </h1>
            </legend>
            <bss-input asp-for="FirstName" is-auto-focus="@Model.IsFirstNameFocus" />
            <bss-input asp-for="MiddleName" />
            <bss-input asp-for="LastName" />
            <bss-input-date day="BirthDay" is-auto-focus="@Model.IsBirthDayFocus"
                            month="BirthMonth"
                            year="BirthYear"
                            is-valid-date-of-birth="IsValidDateOfBirth"
                            id="dob"
                            validation-message="@(Localizer["Enter your client's date of birth"].Value)"
                            label="@(Localizer[" What's your client's date of birth?"].Value)"
                            hint="@(Localizer[" For example, 31 3 1980"].Value)"></bss-input-date>
        </fieldset>
        <button id="save-button" class="govuk-button" value="Create" data-module="govuk-button" type="submit">
            @Localizer["Save and continue"]
        </button>
    </form>
</div>
