@model Insolvency.Portal.Models.ViewModels.DebtorTransferViewModel
@{
    ViewData["Title"] = "Complete BreathingSpace Transfer Details";
}
<div class="govuk-grid-column-two-thirds @(!ViewData.ModelState.IsValid ? "govuk-error-summary" : "display-none")" id="error-summary">
    <h2 class="govuk-error-summary__title">
        @Localizer["There is a problem"]
    </h2>
</div>

<div class="govuk-grid-column-full">
    <a id="back-link" href="javascript: history.go(-1)" class="govuk-back-link"> @Localizer["Back"]</a>
</div>
<div class="govuk-grid-column-three-quarters" id="content">
        <h1 id="debtor-transfer-confirm-heading" class="govuk-heading-l">
            Transfer completed
        </h1>
        <p id="debtor-transfer-confirm-description" class="govuk-body-l">
            @Model.TransferringMoneyAdviserOrganisation have transferred this Breathing Space to @Model.RequestingMoneyAdviceOrganisation
        </p>
        <partial name="_DebtorTransferDetailsPartial"
                 model="Model"
                 view-data='@new ViewDataDictionary(ViewData) { { "display-reason", true }, { "display-transfer-by", true }, { "display-requested-by", true } }' />      
</div>