@model Insolvency.Portal.Models.ViewModels.DebtorPreviousAddressSubmitViewModel;

@{
    var IdOverwrite = new Dictionary<string, string> {
        {"MoveInDate","moveInDate-month-input"},
        {"MoveOutDate","moveOutDate-month-input"},
        {"AddressLine1","Address1-input"},
        {"AddressLine2","Address2-input"}
    };
    ViewData["Title"] = @Localizer["Breathing Space"];
}

<div class="govuk-grid-column-two-thirds @(!ViewData.ModelState.IsValid ? "govuk-error-summary" : "display-none")" id="error-summary">
    <h2 class="govuk-error-summary__title">
        @Localizer["There is a problem"]
    </h2>
    <div id="error-list" bss-error-summary="All" id-overwrite="IdOverwrite" class="govuk-error-summary__body"></div>
</div>

<div class="govuk-grid-column-two-thirds" id="content">
    <form class="form"
          asp-controller="BreathingSpace"
          asp-action="DebtorPreviousAddressManual"
          asp-route-journeyKey="@ViewData["JourneyKey"].ToString()"
          asp-route-parentJourneyKey="@ViewData["ParentJourneyKey"]?.ToString()"
          method="post">
        <input asp-for="@Model.AddressId" type="hidden" />
        <input asp-for="@Model.ReturnAction" type="hidden" />
        <a id="back-link" href="javascript: history.go(-1)" class="govuk-back-link"> @Localizer["Back"]</a>
        <fieldset class="govuk-fieldset" name="client">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                    @Localizer["Add client's previous address and dates they lived there"]
                </h1>
            </legend>
            <h2 id="debtor-add-previous-address-heading" class="govuk-heading-m">Client previous address</h2>
            <partial name="_AddressWithValidationPartial" model="Model" />
        </fieldset>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="movedInhint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <label class="govuk-fieldset__heading">
                        @Localizer["What date did your client move in to this address"]
                    </label>
                </legend>
                <span id="movedInhint" class="govuk-hint">
                    @Localizer["For example, 11 2017"]
                </span>
                <div class="govuk-date-input" id="moved-in">
                    <bss-input-month-year month-expression="MonthFrom"
                                          year-expression="YearFrom"
                                          month="@Model?.MonthFrom"
                                          year="@Model?.YearFrom"
                                          validation-message=@Localizer["The move into date must include a valid month and year"].Value
                                          id="moveInDate" />
                </div>
            </fieldset>
        </div>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="movedInhint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <label class="govuk-fieldset__heading">
                        @Localizer["What date did your client move out of this address"]
                    </label>
                </legend>
                <span id="movedOuthint" class="govuk-hint">
                    @Localizer["For example, 11 2017"]
                </span>
                <div class="govuk-date-input" id="movedOut">
                    <bss-input-month-year month-expression="MonthTo"
                                          year-expression="YearTo"
                                          month="@Model?.MonthTo"
                                          year="@Model?.YearTo"
                                          validation-message=@Localizer["The move out date must include a valid month and year"].Value
                                          id="moveOutDate" />
                </div>
            </fieldset>
        </div>
        <button id="save-button" class="govuk-button" data-module="govuk-button" type="submit">
            @Localizer["Save and continue"]
        </button>
    </form>
</div>
