@model Insolvency.Portal.Models.ViewModels.DebtorAccountSummaryViewModel;

@{
    ViewData["Title"] = @Localizer["Account Summary"];
    ViewData["return-action"] = "DebtorAccountSummary";
    var anyDebtsEntered = Model.DebtDetails != null && Model.DebtDetails.Any();
}

<div class="govuk-grid-column-full" id="content">
    <partial name="_DebtorAccountHeaderMoneyAdvisor" model="Model" />
    <a id="debtor-summary-add-debt"
       asp-controller="BreathingSpace"
       asp-action="CreditorSearch"
       asp-route-fromCreateBreathingSpace="@true"
       asp-route-returnAction="DebtDetails"
       asp-route-journeyKey="@Guid.NewGuid()"
       asp-route-parentJourneyKey="@ViewData["JourneyKey"].ToString()"
       class="govuk-button govuk-button--secondary" data-module="govuk-button">
        @Localizer["Add a debt"]
    </a>
    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
            @Localizer["Contents"]
        </h2>
        <ul class="govuk-tabs__list" role="tablist">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
                <a class="govuk-tabs__tab" href="#problem-debt" id="debtor-summary-debt" role="tab" aria-controls="problem-debt" aria-selected="true" tabindex="0">
                    @Localizer["Debts"]
                </a>
            </li>
            <li class="govuk-tabs__list-item" role="presentation">
                <a class="govuk-tabs__tab" href="#personal-details" id="debtor-summary-personal-details" role="tab" aria-controls="personal-details" aria-selected="false" tabindex="-1">
                    @Localizer["Client details"]
                </a>
            </li>
        </ul>
        <section class="govuk-tabs__panel" id="problem-debt" role="tabpanel" aria-labelledby="tab_problem-debt">
            <partial name="_InactiveAccountDebtsTabDetails" model="Model" />
        </section>
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="personal-details" role="tabpanel" aria-labelledby="tab_personal-details">
            <partial name="_MoneyAdvisorDebtorDetailsPartial" model="Model.DebtorDetail" />
        </section>
    </div>
    <a id="debtor-summary-save"
       class="govuk-button"
       data-module="govuk-button"
       asp-controller="BreathingSpace"
       asp-action="DebtorAccountSave"
       asp-route-submit="@(anyDebtsEntered ? "true" : "false")"
       asp-route-journeyKey="@ViewData["JourneyKey"].ToString()">
        @if (anyDebtsEntered)
        {
            @Localizer["Save and continue"]
        }
        else
        {
            @Localizer["Save and close"]
        }
    </a>
</div>
