@using Insolvency.Common.Enums
@model Insolvency.Portal.Models.ViewModels.DebtorAccountSummaryViewModel;
@{ ViewData["Title"] = @Localizer["Account Summary"]; }

@section navigation
{
    <partial name="_HomeNavigation" model="@null" />
}
<div class="govuk-width-container" id="content">
    <partial name="_DebtorAccountHeaderMoneyAdvisor" model="Model" />
    <partial name="_AccountDetailsBreathingSpaceEndedPanel" model="Model" />
    @if (Model.IsCurrentlyTransferring && Model.DebtorTransfer.Status != TransferDebtorRequestStatusCodes.Completed)
    {
        <h1 class="govuk-heading-m govuk-!-margin-bottom-4" id="not-owning-organization-tasks-header">
            Tasks
        </h1>
        <ul class="app-task-list__items govuk-!-margin-bottom-6">
            <li class="app-task-list__item">
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="not-owning-tasks-sent-to-money-adviser-tag">Sent to money adviser</strong>
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1" id="not-owning-tasks-sent-to-money-adviser-heading">
                    @Model.DebtorTransfer.RequestingMoneyAdviceOrganisation has requested a transfer of this Breathing Space
                </h2>
                <span class="app-task-list__task-name">
                    <a class="govuk-body govuk-link"
                       asp-action="DebtorTransferViewDetails"
                       asp-controller="BreathingSpace"
                       asp-route-journeyKey="@Guid.NewGuid()"
                       asp-route-parentJourneyKey="@ViewData["JourneyKey"].ToString()"
                       id="not-owning-tasks-sent-to-money-adviser-call-to-action">
                        View transfer details
                    </a>
                </span>
            </li>
        </ul>
    }
    <partial name="_NotOwningAccountDetails" model="Model" />

    <h2 class="govuk-heading-m govuk-!-margin-bottom-4" id="not-owning-organization-transfer-header">
        Transfer
    </h2>
    <div class="govuk-!-margin-bottom-4 govuk-body-m" id="not-owning-organization-transfer-message">
        You can ask @Model.MoneyAdviceOrganisation.Name to transfer this Breathing Space to your organisation
    </div>
    @if (!Model.IsCurrentlyTransferring || Model.DebtorTransfer.Status == TransferDebtorRequestStatusCodes.Completed)
    {
        <a id="not-owning-organization-ask-for-a-transfer"
           asp-action="DebtorTransfer"
           asp-controller="BreathingSpace"
           asp-route-journeyKey="@Guid.NewGuid()"
           asp-route-parentJourneyKey="@ViewData["JourneyKey"].ToString()"
           class="govuk-button govuk-button--secondary govuk-!-margin-right-2"
           data-module="govuk-button">
            Ask for a transfer
        </a>
    }
</div>
