@model Insolvency.Management.Models.ViewModels.ClientCredentials.ClientCredentialsViewModel
<div class="d-flex align-items-center p-3 my-3 rounded shadow-sm row">
    <div class="col-sm-12">
        <h2>Email: @Model.CurrentRoleUserEmail</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-9">
        <h3>Client Credentials</h3>
    </div>
    <div class="col-sm-3">
        @if (Model.AbleToAddClient)
        {
            <a class="btn btn-primary float-right" href="@Url.Action("AvailableOrganisations")" role="button">Add Client Credentials</a>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-10 col-border"><strong>Client Name</strong></div>
    <div class="col-sm-2 col-border"></div>
</div>
@foreach (var client in Model.Clients)
{
    <div class="row">
        <div class="col-sm-10 col-border">
            @client.ClientName
                 
        </div>
        <div class="col-sm-2 col-border">
            <div class="btn-group">
                <form method="post" asp-action="DeleteClientCredentials" asp-controller="ClientCredentialsManagement">
                    @Html.Hidden("id", client.Id)
                    <button class="btn btn-sm btn-link float-right" type="submit" role="button">Delete</button>
                </form>
                <a class="btn btn-sm btn-link float-right" href="@Url.Action("ManageClientCredentials", new { id = client.Id })" role="button">Manage</a>
            </div>
        </div>
    </div>
}
