@model Insolvency.Management.Models.ViewModels.ClientCredentials.ManageClientCredentialsViewModel
<div class="d-flex align-items-center p-3 my-3 rounded shadow-sm row">
    <div class="col-sm-12">
        <h2>Client Credentials Name: @Model.Client.ClientName</h2>
        <h4>Client Credentials Id: @Model.Client.ClientId</h4>
        <h4>Created By: @Model.ExtendedClient.CreatedByEmail</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-border"><strong>Scope</strong></div>
    <div class="col-sm-8 col-border"><strong>Organisations</strong></div>
</div>
@foreach (var scope in Model.Scopes)
{
    <div class="row">
        <div class="col-sm-4 col-border">@scope.Key</div>
        <div class="col-sm-8 col-border">@string.Join(", ", scope.OrderBy(x => x.Organisation.Name).Select(x => x.Organisation.Name))</div>
    </div>
}
<div class="row mt-2">
    <div class="col-sm-6">
        <h3>Secrets</h3>
    </div>
    <div class="col-sm-6">
        @if (Model.Client.AbleToAddSecret)
        {
            <a class="btn btn-primary float-right" href="@Url.Action("AddClientSecret", new { id = Model.Client.Id })" role="button">Add Secret</a>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-border"><strong>Description</strong></div>
    <div class="col-sm-2 col-border"><strong>Type</strong></div>
    <div class="col-sm-3 col-border"><strong>Date Created</strong></div>
    <div class="col-sm-1 col-border"></div>
</div>
@foreach (var secret in Model.Client.Secrets)
{
    <div class="row">
        <div class="col-sm-6 col-border">@secret.Description</div>
        <div class="col-sm-2 col-border">@secret.Type</div>
        <div class="col-sm-3 col-border">@secret.DateCreated</div>
        <div class="col-sm-1 col-border">
            <form method="post" asp-action="DeleteClientSecret" asp-controller="ClientCredentialsManagement">
                @Html.Hidden("internalClientId", Model.Client.Id)
                @Html.Hidden("secretId", secret.Id)
                <button class="btn btn-sm btn-link float-right" type="submit" role="button">Delete</button>
            </form>
        </div>
    </div>
}